* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #201105;
}

header {
    display: flex;
    flex-flow: row wrap;
}

header img {
    margin-left: 3em;
}

nav {
    color: #ffffff;
    margin-left: 30%;
}

nav ul {
    list-style: none;
    padding: 1em;
    background-color: #2c1807;
}

nav ul li {
    display: inline;
    margin: 2em;
}

nav ul li a {
    color: #fff;
    font-size: larger;
    background-color: #2c1807;
    text-decoration: none;
    position: relative;  
    padding-bottom: 5px;
    transition: color 0.3s ease; 
}

nav ul li a::after {
    content: "";  
    position: absolute;
    bottom: 0;  
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #ffbf53; 
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #ffbf53;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Footer */
footer {
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer a {
    color: #ffbf53;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}



